.message-container {
  height: calc(100vh - 155px);
  overflow-y: scroll;
  padding: 10px;
  border: solid 1px #EEE;
  display: flex;
  flex-direction: column;

  &.more-height {
    height: calc(100vh - 120px);
  }
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  background: #0085D1;
  position: relative;
}

.mine .message-wrapper {
  margin-left: 25%;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #0085D1;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}


.input-container {
  padding: 10px;
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  flex-grow: 1;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #007aff;
  color: white;
  cursor: pointer;
}
